<div>
    <fieldset>
        <form name="create-user-form" id="create-user-form" method="post" novalidate>
            <p>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required value="{{input.nome}}" />
            </p>
            <p>
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" required value="{{input.cpf}}" />
            </p>
            <p>
                <label for="privilegios">Privilégios</label>
                <input type="text" id="privilegios" name="privilegios" required value="{{input.privilegios}}" />
            </p>
            <p>
                <label for="login">login</label>
                <input type="text" id="login" name="login" required value="{{input.login}}" />
            </p>
            <p>
                <label for="senha">senha</label>
                <input type="password" id="senha" name="senha" required value="{{input.senha}}" />
            </p>
            <div class="form-submit">
                <input type="submit" value="Criar nova conta" />
            </div>
            <span style="color:red;">{{error}}</span>
        </form>
    </fieldset>
</div>