<div class="login">
    <h2>Novo Usuário</h2>
    <form method="post">
        <input type="text" id="email" name="email" maxlength="40" required class="user active" placeholder="E-mail (até 40 caracteres)" value="{{input.email}}" />
        <input type="text" id="nome" name="nome" maxlength="40" required class="user active" placeholder="Nome (até 40 caracteres)" value="{{input.nome}}" />
        <input type="text" id="cpf" name="cpf" maxlength="11" required class="user active"  placeholder="CPF (apenas números)" value="{{input.cpf}}" />
        <input type="password" id="password" name="password" maxlength="8" class="lock active" placeholder="Senha (8 caracteres)" autocomplete="off" required />
        <input type="file" class="user active" id="imgUser" name="imgUser" placeholder="Imagem" required value="{{input.imgUser}}" />
        <div class="forgot">
            <div class="login-para">
                <p><a href="/"> Voltar </a></p>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="login-bwn">
            <input type="submit" value="Entrar" />
            {{#if error}}
            <div style="color:red;">{{error}}</div>
            {{/if}}
        </div>
    </form>
</div>
<script>
    jQuery(function ($) {
        $("#cpf").mask("999.999.999-99");
    });
</script>
