<fieldset>
    <div class="widget">
        <form name="create-veiculo-form" id="create-veiculo-form" method="post" novalidate>
            <div><input type="text" id="placa" name="placa" placeholder="Placa do Veículo" required value="{{input.placa}}" /></div>
            <div><input type="text" id="marca" name="marca" placeholder="Marca do Veículo" required value="{{input.marca}}" /></div>
            <div><input type="text" id="cor" name="cor" placeholder="Cor" required value="{{input.cor}}" /></div>
            <div><input type="text" id="numeroSerie" name="numeroSerie" placeholder="Número de Série do Dispositivo" required value="{{input.numeroSerie}}" /></div>
            <div class="form-submit">
                <input type="submit" value="Criar Veiculo" />
            </div>
            <span style="color:red;">{{error}}</span>
        </form>
    </div>
</fieldset>

