<div class="login">
    <h2>Novo Veículo</h2>
    <form method="post">
        <input type="text" class="user active" id="placa" name="placa" placeholder="Placa (letras e números)" maxlength="7" required value="{{input.placa}}" />
        <input type="text" class="user active" id="marca" name="marca" placeholder="Marca do Veículo" maxlength="20" required value="{{input.marca}}" />
        <input type="text" class="user active" id="cor" name="cor" placeholder="Cor" maxlength="20" required value="{{input.cor}}" />
        <input type="text" class="user active" id="numeroSerie" name="numeroSerie" placeholder="Serial (Dispostivo)" maxlength="20" required value="{{input.numeroSerie}}" />
        
        <div class="forgot">
            <div class="login-para">
                <p><a href="/"> Cancelar </a></p>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="login-bwn">
            <input type="submit" value="Adicionar" />
            {{#if error}}
            <div style="color:red;">{{error}}</div>
            {{/if}}
        </div>
    </form>
</div>
<script>
    jQuery(function ($) {
        $("#placa").mask("aaa-9999");
    });
</script>

