<fieldset>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" method="post">
                        <div class="form-group">

                            <label for="placa">
                                Placa
                            </label>
                            <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa do Veículo" maxlength="7" required value="{{input.placa}}" />
                        </div>
                        <div class="form-group">
                            <label for="marca">
                                Marca
                            </label>
                            <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca do Veículo" maxlength="20" required value="{{input.marca}}" />
                        </div>
                        <div class="form-group">
                            <label for="cor">
                                Cor
                            </label>
                            <input type="text" class="form-control" id="cor" name="cor" placeholder="Cor" maxlength="20" required value="{{input.cor}}" />
                        </div>
                        <div class="form-group">
                            <label for="numeroSerie">
                                Numero de Série do Dispositivo
                            </label>
                            <input type="text" class="form-control" id="numeroSerie" name="numeroSerie" placeholder="Número de Série do Dispositivo" maxlength="20" required value="{{input.numeroSerie}}" />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Adicionar Veículo
                        </button>
                        <br /><br /><a href="/">Voltar</a>
                        <span style="color:red;">{{error}}</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</fieldset>

