<div id="divVeiculos">
        {{#each veiculos}}
        <fieldset>
            <form name="excluirVeiculo" id="excluirVeiculo" method="get" action="/veiculos/excluir/{{placa}}">
                <input type="submit" value="Excluir" />
            </form>
            <p>{{marca}} - {{placa}} - {{cor}}</p>
            <p>{{dispositivo.ativacoes.[0].status}}</p>
            <p>Última alteração: {{dispositivo.ativacoes.[0].data}} às {{dispositivo.ativacoes.[0].horario}}</p>
            <p>Dispositivo {{dispositivo.numeroSerie}}</p>
            <form name="aciona" id="aciona" method="get" action="/veiculos/aciona/d-{{dispositivo.numeroSerie}}_{{dispositivo.ativacoes.[0].status}}">
                <input type="submit" value="ACIONA" />
            </form>

        </fieldset>
        {{/each}}
    <form name="novoVeiculo" id="novoVeiculo" method="get" action="/veiculos/create">
        <input type="submit" value="Novo veículo" />
    </form>
</div>