<div class="jumbotron" onshow="acao()">
    <div class="container-fluid">
        {{#each veiculos}}
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="aciona" id="aciona" method="get" action="/veiculos/aciona/d-{{dispositivo.numeroSerie}}_{{dispositivo.ativacoes.[0].status}}">
                                <button type="submit" class="btn btn-success btn-lg btn-block">
                                    ACIONAR ALARME!
                                </button>
                            </form>
                            <hr />
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div id="marca-carro" class="car-info text-primary text-center">
                                                    {{marca}} : {{cor}}
                                                </div>
                                                <picture>
                                                    <img id="veiculo" alt="Carro" srcset="../images/carro.jpg 3x" width="300" height="300" class="img-thumbnail" />
                                                </picture>
                                                {{#if dispositivo.isConectado}}
                                                <picture id="conectado" class="car-info text-primary text-center">
                                                    <img src="../images/connected.png" width="60" height="60" alt="Conectado"/>
                                                </picture>
                                                {{else}}
                                                <picture id="desconectado" class="car-info text-primary text-center">
                                                    <img src="../images/disconnected.png" width="60" height="60" alt="Desconectado"/>
                                                </picture>
                                                {{/if}}
                                                {{#if dispositivo.isAberto}}
                                                <picture id="com-notificacao" class="car-info text-primary text-center">
                                                    <img src="../images/alert.gif" width="60" height="60" alt="ALARME DISPARANDO!!"/>
                                                </picture>
                                                {{else}}
                                                <picture id="sem-notificacao" class="car-info text-primary text-center">
                                                    <img src="../images/protected.png" width="60" height="60" alt="Alarme Seguro"/>
                                                </picture>
                                                {{/if}}
                                            </div>
                                            <div class="col-md-6">
                                                <div class="placa col-md-6">
                                                    {{placa}}
                                                </div>
                                                <div id="car-info-status">
                                                    <span id="alarme-status">{{dispositivo.ativacoes.[0].status}}</span> em {{dispositivo.ativacoes.[0].data}} às {{dispositivo.ativacoes.[0].horario}}
                                                </div>
                                                <form name="excluirVeiculo" id="excluirVeiculo" method="get" action="/veiculos/excluir/{{placa}}">
                                                    <button type="submit" class="btn btn-danger btn-lg btn-block">
                                                        Remover Veículo
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </fieldset>
        {{/each}}
        <div class="row">
            <div class="col-md-offset-6">
                <form name="novoVeiculo" id="novoVeiculo" method="get" action="/veiculos/create">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" id="btnAdicionarVeiculo">
                        Adicionar Novo Veículo
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>